p{  width:200px;
    margin-left:5%;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    margin-left:5%;
    color:#2c3e50;
}
.date{
    color:#3498db;
}
#main{
    border: 15px solid #bdc3c7;

    width:500px;
    margin-left:25%;
}
.leftb
{
    border-left:4px solid #bdc3c7;
    padding:2px;
}
